<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Insert mail to your account</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Insert mail to your account</h1>
			<form action="{{ url_for('reset') }}" method="post" autocomplete="off">
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Reset Password">
			</form>
		</div>
	</body>
</html>